<div *ngIf="referral" class="p-6 bg-gray-50 min-h-screen">

  <!-- 🩺 Header Banner -->
  <div class="relative bg-gradient-to-r from-blue-700 to-cyan-500 text-white rounded-2xl md:rounded-3xl shadow-2xl px-4 py-8 md:p-10 lg:p-12 flex flex-col items-center justify-center overflow-hidden text-center">

    <!-- LEFT IMAGE -->
    <img
      src="../../../../assets/img/doctor.png"
      alt="Doctor"
      class="hidden md:block absolute left-4 lg:left-8 top-1/2 -translate-y-1/2 w-16 h-16 md:w-24 md:h-24 lg:w-32 lg:h-32 opacity-90 rounded-full shadow-xl border-4 border-white"
    />

    <!-- TEXT -->
    <div class="z-10 max-w-xl">
      <h1 class="text-4xl font-extrabold tracking-wide drop-shadow-lg">
        Patient Referral Information and Medical History Details
      </h1>

      <p class="mt-2 md:mt-3 text-sm sm:text-base md:text-lg lg:text-xl opacity-90 font-medium">
        Comprehensive overview of the patient record
      </p>
    </div>

    <!-- RIGHT IMAGE -->
    <img
      src="../../../../assets/img/objective3.png"
      alt="Patient"
      class="hidden md:block absolute right-4 lg:right-8 top-1/2 -translate-y-1/2 w-16 h-16 md:w-24 md:h-24 lg:w-32 lg:h-32 opacity-90 rounded-full shadow-xl border-4 border-white"
    />

  </div>

  <div class="bg-white shadow-2xl rounded-3xl p-8 mx-auto space-y-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Patient Info -->
      <div
        class="bg-indigo-50 p-6 rounded-2xl shadow-inner flex flex-col space-y-2"
      >
        <h3 class="text-2xl font-semibold text-indigo-700 mb-2">
          Patient Information
        </h3>
        <p>
          <span class="font-semibold w-32 inline-block">Name:</span>
          {{ referral.patient?.name || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">Matibabu Card:</span>
          {{ referral.patient?.matibabu_card || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">DOB:</span>
          {{
            referral.patient?.date_of_birth
              ? (referral.patient.date_of_birth | date)
              : "N/A"
          }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">Phone:</span>
          {{ referral.patient?.phone || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">Gender:</span>
          {{ referral.patient?.gender || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">ZanID:</span>
          {{ referral.patient?.zan_id || "N/A" }}
        </p>
      </div>

      <!-- Hospital Info -->
      <div
        class="bg-green-50 p-6 rounded-2xl shadow-inner flex flex-col space-y-2"
      >
        <h3 class="text-2xl font-semibold text-green-700 mb-2">
          Hospital Information
        </h3>
        <p>
          <span class="font-semibold w-32 inline-block">Hospital:</span>
          {{ referral.hospital?.hospital_name || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">Address:</span>
          {{ referral.hospital?.hospital_address || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">Contact:</span>
          {{ referral.hospital?.contact_number || "N/A" }}
        </p>
        <p>
          <span class="font-semibold w-32 inline-block">Email:</span>
          {{ referral.hospital?.hospital_email || "N/A" }}
        </p>
      </div>
    </div>

    <div class="bg-yellow-50 p-6 rounded-2xl shadow-inner flex flex-col space-y-2">
      <h3 class="text-2xl font-semibold text-yellow-700 mb-2">
        Director of Curative Services Comments
      </h3>
      <p>
        <span class="font-semibold w-40 inline-block">
          Comments:
        </span>
        {{
          referral?.patient?.patient_histories?.[0]?.mkurugenzi_tiba_comments
          || 'N/A'
        }}
      </p>
    </div>

    <div class="bg-green-50 p-4 mt-4 rounded-xl" *ngIf="patientHistories?.length > 0 || diagnoses?.length > 0">
      
      <h4 class="text-lg font-semibold text-green-600 mb-3">
        Medical Histories ({{ patientHistories?.length || 0 }})
      </h4>

      <!-- Medical Histories -->
      <mat-accordion class="space-y-2" *ngIf="patientHistories?.length > 0">
        <mat-expansion-panel *ngFor="let history of patientHistories; let i = index" class="rounded-lg shadow-sm border border-green-200">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex items-center gap-3">
                <mat-icon class="text-green-600">history</mat-icon>
                <span class="font-semibold text-gray-700">
                  History #{{ i + 1 }}
                </span>
              </div>
            </mat-panel-title>

            <mat-panel-description>
              <span class="text-gray-500 text-sm">
                File No: {{ history.file_number || 'N/A' }}
              </span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="p-3 text-gray-700">
            <p><strong>Doctor:</strong> {{ history.referring_doctor }}</p>
            <p><strong>Case Type:</strong> {{ history.case_type }}</p>
            <p><strong>Referral Date:</strong> {{ history.referring_date }}</p>
            <p><strong>physical_findings:</strong> {{ history.physical_findings }}</p>
            <p><strong>history_of_presenting_illness:</strong> {{ history.history_of_presenting_illness }}</p>
            <p><strong>Investigations:</strong> {{ history.investigations }}</p>
            <p><strong>management_done:</strong> {{ history.management_done }}</p>
            <a
              *ngIf="history.history_file"
              class="inline-flex items-center gap-1 text-indigo-600 hover:text-indigo-800 cursor-pointer mt-2"
              (click)="viewFiles(history)"
            >
              <mat-icon>picture_as_pdf</mat-icon>
              View History PDF
            </a>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="mt-6" *ngIf="hospitalDiagnoses?.length > 0">
      <table class="min-w-full bg-white border border-green-200 rounded-lg shadow">

        <!-- TABLE HEADER -->
        <thead class="bg-green-100 text-green-700">
          <tr>
            <th colspan="3" class="p-3 text-left text-lg font-semibold">
              Hospital Diagnoses ({{ hospitalDiagnoses.length }})
            </th>
          </tr>

          <!-- Reason row -->
          <tr *ngIf="hospitalReason">
            <th colspan="3" class="p-2 text-left text-lg font-medium text-gray-700">
              Reason:
              <span class="text-green-700 font-semibold">
                {{ hospitalReason.referral_reason_name }}
              </span>
            </th>
          </tr>

          <!-- Column headers -->
          <tr>
            <th class="p-2 text-left">#</th>
            <th class="p-2 text-left">Diagnosis Code</th>
            <th class="p-2 text-left">Diagnosis Name</th>
          </tr>
        </thead>


        <!-- TABLE BODY -->
        <tbody>
          <tr
            *ngFor="let d of hospitalDiagnoses; let i = index"
            class="border-t hover:bg-green-50"
          >
            <td class="p-2">{{ i + 1 }}</td>
            <td class="p-2">{{ d.diagnosis_code }}</td>
            <td class="p-2">{{ d.diagnosis_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ================= BOARD MEMBERS ================= -->
    <div
      class="bg-green-50 p-6 rounded-2xl shadow-inner flex flex-col space-y-2"
    >
      <h3 class="text-2xl font-semibold text-green-700 mb-2">
        Medical board Info
      </h3>
      <p>
        <span class="font-semibold w-32">Reference number: </span>
        {{ referral.referral_number || "N/A" }}
      </p>
      <p>
        <span class="font-semibold w-32 inline-block">Board Type:</span>
        {{ referral.patient?.patient_list?.[0]?.board_type || "N/A" }}
      </p>

      <p *ngIf="referral.patient?.patient_list?.[0]?.patient_list_file">
        <a
          (click)="viewPatientListPDF(referral.patient.patient_list[0].patient_list_file)"
          class="inline-flex items-center gap-1 text-indigo-600 hover:text-indigo-800 cursor-pointer"
        >
          <mat-icon>picture_as_pdf</mat-icon>
          View Board Members List PDF
        </a>
      </p>
    </div>

    <div class="mt-6" *ngIf="boardMembers.length > 0">
      <h4 class="text-lg font-semibold text-blue-600 mb-3">
        Medical Board Members ({{ boardMembers.length }})
      </h4>

      <table
        class="min-w-full bg-white border border-blue-200 rounded-lg shadow"
      >
        <thead class="bg-blue-100 text-blue-700">
          <tr>
            <th class="p-2 text-left">#</th>
            <th class="p-2 text-left">Full Name</th>
            <th class="p-2 text-left">Gender</th>
            <th class="p-2 text-left">Phone</th>
            <th class="p-2 text-left">Email</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let member of boardMembers; let i = index"
            class="border-t hover:bg-blue-50"
          >
            <td class="p-2">{{ i + 1 }}</td>

            <td class="p-2 font-medium">
              {{ member.first_name }}
              {{ member.middle_name }}
              {{ member.last_name }}
            </td>

            <td class="p-2 capitalize">{{ member.gender }}</td>
            <td class="p-2">{{ member.phone_no }}</td>
            <td class="p-2">{{ member.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-yellow-50 p-6 rounded-2xl shadow-inner flex flex-col space-y-2">
      <h3 class="text-2xl font-semibold text-yellow-700 mb-2">
      Medical Board Comments
      </h3>
      <p>
        <span class="font-semibold w-40 inline-block">
          Comments:
        </span>
        {{ history.board_comments }}
      </p>
    </div>

    <div class="mt-6" *ngIf="boardDiagnoses?.length > 0">
      <table class="min-w-full bg-white border border-blue-200 rounded-lg shadow">

        <!-- TABLE HEADER -->
        <thead class="bg-blue-100 text-blue-700">
          <tr>
            <th colspan="3" class="p-3 text-left text-lg font-semibold">
              Board Diagnoses ({{ boardDiagnoses.length }})
            </th>
          </tr>

          <!-- Board Reason row -->
          <tr *ngIf="boardReason">
            <th colspan="3" class="p-2 text-left text-lg font-medium text-gray-700">
              Board Reason:
              <span class="text-blue-700 font-semibold">
                {{ boardReason.referral_reason_name }}
              </span>
            
            </th>
          </tr>

          <!-- Column headers -->
          <tr>
            <th class="p-2 text-left">#</th>
            <th class="p-2 text-left">Diagnosis Code</th>
            <th class="p-2 text-left">Diagnosis Name</th>
          </tr>
        </thead>

        <!-- TABLE BODY -->
        <tbody>
          <tr
            *ngFor="let d of boardDiagnoses; let i = index"
            class="border-t hover:bg-blue-50"
          >
            <td class="p-2">{{ i + 1 }}</td>
            <td class="p-2">{{ d.diagnosis_code }}</td>
            <td class="p-2">{{ d.diagnosis_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Status -->
    <div class="flex items-center space-x-4">
      <h3 class="text-2xl font-semibold text-gray-700">Status:</h3>
      <span
        class="inline-flex items-center px-5 py-2 text-base font-semibold rounded-full text-white shadow-md"
        [ngClass]="{
          'bg-green-500': referral.status === 'Confirmed',
          'bg-green-400': referral.status === 'BoardedOut',
          'bg-red-500': referral.status === 'Cancelled',
          'bg-yellow-500': referral.status === 'Pending',
          'bg-blue-500': referral.status === 'On-Progress'
        }"
      >
        {{ referral.status || "N/A" }}
      </span>
    </div>

    <!-- Patient Files -->
    <div
      *ngIf="referral.patient?.files?.length > 0"
      class="bg-purple-50 p-6 rounded-2xl shadow-inner flex flex-col space-y-3"
    >
      <h3 class="text-2xl font-semibold text-purple-700 mb-2">Patient Files</h3>
      <div class="flex flex-col space-y-2">
        <a
          *ngFor="let file of referral.patient.files"
          (click)="viewFile(file)"
          class="flex items-center space-x-3 text-purple-800 hover:text-purple-600 hover:underline transition cursor-pointer"
        >
          <mat-icon class="text-purple-700">description</mat-icon>
          <span>{{ file.file_name || "N/A" }}</span>
        </a>
      </div>
    </div>

    <!-- Action Buttons -->
    <div class="flex justify-center mt-6 space-x-6">

      <button
        mat-raised-button
        color="warn"
        class="bg-green-600 hover:bg-green-700 text-white px-10 py-3 rounded-2xl shadow-lg transition transform hover:scale-105"
        (click)="openConversationModal(referral)"
      >
        <mat-icon class="mr-2">chat</mat-icon>
        Conversation
      </button>
      <!-- Confirm Button -->
      <button
        mat-raised-button
        color="primary"
        class="bg-primary-600 hover:bg-primary-700 text-white px-10 py-3 rounded-2xl shadow-lg transition transform hover:scale-105"
        (click)="updateStatusPopup()"
        [disabled]="
          referral.status !== 'Pending'
        "
      >
        Decision
      </button>

      <!-- Print Button -->
      <!-- ================= FLIGHT INFORMATION ================= -->
      <button
        *ngIf="referral?.hospital?.referral_type?.referral_type_code === 'REFTYPE2'"
        mat-raised-button
        class="bg-cyan-600 hover:bg-cyan-700 text-white px-10 py-3 rounded-2xl shadow-lg transition transform hover:scale-105"
        (click)="openFlightInformationPopup(referral)"
      >
      <mat-icon class="mr-2">flight</mat-icon>
        Information
      </button>
      <!-- ================= NORMAL REFERRAL PRINT ================= -->
      <button
        *ngIf="hasRealReferral"
        mat-raised-button
        color="accent"
        class="bg-indigo-600 hover:bg-indigo-700 text-white px-10 py-3 rounded-2xl shadow-lg transition transform hover:scale-105"
        (click)="referralsLetterPopup(referral)"
        [disabled]="isReferralPrintDisabled(referral)"
      >
        <mat-icon class="mr-2">print</mat-icon>
        Print Referral Letter
      </button>

      <!-- ================= BOARDED OUT PRINT ================= -->
      <button
        *ngIf="hasBoardedOut"
        mat-raised-button
        color="primary"
        class="bg-green-600 hover:bg-green-700 text-white px-10 py-3 rounded-2xl shadow-lg transition transform hover:scale-105"
        (click)="printBoardedOutLetter(referral)"
      >
        <mat-icon class="mr-2">description</mat-icon>
        Print Boarded Out Letter
      </button>
    </div>
  </div>
</div>

<app-flight-information-dialog
  [visible]="showFlightInformation"
  [referralId]="referral?.referral_id"
  (closed)="closeFlightInformation()"
  (saved)="saveFlightInformation($event)"
></app-flight-information-dialog>