
<div>
    <div class="w-full">
      <div class="relative h-full rounded-lg  group  p-6">
        <div *ngIf="!reasonData" class="font-semibold ">ADD NEW REASON</div>
        <div *ngIf="reasonData" class="font-semibold ">UPDATE REASON</div>
        <form [formGroup]="reasonForm">
          <mat-form-field class="w-full mt-6">
            <mat-label>Referral Reason : </mat-label>
            <input matInput placeholder="Ex. MARADHI SUGU" formControlName="referral_reason_name" type="text">
            <mat-error class="error-message" *ngIf="reasonForm.controls['referral_reason_name'].touched && reasonForm.controls['referral_reason_name'].invalid">
              <span *ngIf="reasonForm.controls['referral_reason_name'].errors?.['required']">This field is mandatory</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-full mt-4">
            <mat-label>Reason Descriptions :</mat-label>
            <input matInput placeholder="Ex.YAMESHINDIKANA" formControlName="reason_descriptions" type="text">
            <mat-error class="error-message" *ngIf="reasonForm.controls['reason_descriptions'].touched && reasonForm.controls['reason_descriptions'].invalid">
              <span *ngIf="reasonForm.controls['reason_descriptions'].errors?.['required']">This field is mandatory</span>
              <span *ngIf="reasonForm.controls['reason_descriptions'].errors?.['pattern']">This field is invalid (must be contain alpharbetical only)</span>
            </mat-error>
          </mat-form-field>
  
        </form>
      </div>
    </div>
  
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button *ngIf="!reasonData" mat-flat-button cdkFocusInitial [disabled]="reasonForm.invalid || submitting" (click)="saveReasons()">{{ submitting ? 'Saving...' : 'Save Reason' }}</button>
      <button *ngIf="reasonData" mat-flat-button cdkFocusInitial [disabled]="reasonForm.invalid || submitting" (click)="updateReason()">{{ submitting ? 'Saving...' : 'Save Reason' }}</button>
    </mat-dialog-actions>
  </div>
