<div class="w-full">
  <div class="relative h-full rounded-lg group p-6">
    <div *ngIf="id" class="font-semibold text-center text-black text-2xl mb-4">
      ADD PAYMENT
    </div>

    <form [formGroup]="clientForm">
      <div class="row">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Balance Amaount</mat-label>
          <mat-select formControlName="bill_file_id">
            <mat-option *ngIf="billFile" [value]="billFile.bill_file_id">
              {{ billFile.hospital?.hospital_name }} 
              {{ billFile?.balance | currency : " TZS" }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Amount Paid</mat-label>
          <input
            matInput
            type="number"
            formControlName="amount_paid"
            placeholder="e.g. 500000"
          />
          <mat-error
            *ngIf="
              clientForm.controls['amount_paid'].touched &&
              clientForm.controls['amount_paid'].invalid
            "
          >
            <span
              *ngIf="clientForm.controls['amount_paid'].errors?.['required']"
            >
              This field is mandatory
            </span>
            <span *ngIf="clientForm.controls['amount_paid'].errors?.['min']">
              Amount must be greater than 0
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Payer</mat-label>
          <input matInput formControlName="payer" placeholder="e.g. John Doe" />
          <mat-error
            *ngIf="
              clientForm.controls['payer'].touched &&
              clientForm.controls['payer'].invalid
            "
          >
            Payer is required
          </mat-error>
        </mat-form-field>

        <!-- Payment Method -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Payment Method</mat-label>
          <mat-select formControlName="payment_method" required>
            <mat-option value="Bank Transfer / Wire Transfer"
              >Bank Transfer / Wire Transfer</mat-option
            >
          </mat-select>

          <mat-error
            *ngIf="
              clientForm.controls['payment_method'].touched &&
              clientForm.controls['payment_method'].invalid
            "
          >
            Payment method is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Reference Number</mat-label>
          <input
            matInput
            formControlName="reference_number"
            placeholder="e.g. REF12345"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Voucher Number</mat-label>
          <input
            matInput
            formControlName="voucher_number"
            placeholder="e.g. VCH98765"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Payment Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="payment_date"
            placeholder="Select date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              clientForm.controls['payment_date'].touched &&
              clientForm.controls['payment_date'].invalid
            "
          >
            Payment date is required
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <mat-dialog-actions align="end" class="mt-4 space-x-3">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!(clientForm.valid && clientForm.dirty)"
        (click)="savePayment()"
      >
        {{ id ? "Add" : "Add" }} Payment
      </button>
    </mat-dialog-actions>
  </div>
</div>
