<div>
  <div class="w-full">
    <div class="relative h-full rounded-lg  group  p-6">
      <div class="font-semibold" *ngIf="!id">CREATE NEW WORK STATION</div>
      <div class="font-semibold" *ngIf="id">UPDATE WORK STATION</div>
      <form [formGroup]="workStationForm">
        <mat-form-field class="w-full mt-6">
          <mat-label>Work Station Name</mat-label>
          <input matInput placeholder="Ex. Lumumba Regional Hospital" formControlName="workstation_name" type="text">
          <mat-error class="error-message" *ngIf="workStationForm.controls['workstation_name'].touched && workStationForm.controls['workstation_name'].invalid">
            <span *ngIf="workStationForm.controls['workstation_name'].errors?.['required']">This field is mandatory</span>
            <span *ngIf="workStationForm.controls['workstation_name'].errors?.['pattern']">This field is invalid (must be contain alpharbetical only)</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Employer</mat-label>
          <input type="text" matInput formControlName="employer_id" [matAutocomplete]="autoe">
          <mat-autocomplete #autoe="matAutocomplete" [displayWith]="displayEmployerFn">
            <mat-option *ngFor="let option of filteredEmployer | async; trackBy: trackEmployerById" [value]="option">
              {{ option.employer_name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Shehia</mat-label>
          <input type="text" matInput placeholder="Malindi" formControlName="location_id" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async; trackBy: trackById" [value]="option">
              {{ option.label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button *ngIf="!id" cdkFocusInitial [disabled]="workStationForm.invalid || submitting" (click)="saveWorkStation()">{{ submitting ? 'Saving...' : 'Save Workstation' }}</button>
    <button mat-flat-button *ngIf="id" cdkFocusInitial [disabled]="workStationForm.invalid || submitting" (click)="updateWorkStation()">{{ submitting ? 'Saving...' : 'Update Workstation' }}</button>
  </mat-dialog-actions>
</div>



