#letterContent {
    font-family: 'Times New Roman', serif;
    background-color: white;
    padding: 20px;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

.dg-signature {
  display: block;
  margin-left: 2%;
  margin-top: 1%;
  width: 220px;
  height: 70px;
  object-fit: contain;
  object-position: left center;
}
  
  @media print {
    button {
      display: none;
    }
  }

  @media print {
  #print-section {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
  }
}



@media print {
  body {
    margin: 0;
  }
}
