<div class="form-container">
  <div class="w-full">
    <div class="relative h-full rounded-lg group p-6">
      <div class="font-semibold text-lg mb-4" *ngIf="!id">CREATE NEW REFERRALS</div>
      <div class="font-semibold text-lg mb-4" *ngIf="id">UPDATE REFERRALS</div>

      <form [formGroup]="referralsForm" class="horizontal-form">
        <!-- Patient Name -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Patient Name</mat-label>
            <mat-select formControlName="patient_id">
              <mat-option disabled class="patient-search-option">
                <input
                  matInput
                  placeholder="Search patients..."
                  [formControl]="patientSearchCtrl"
                  (click)="$event.stopPropagation()"
                  (keydown)="$event.stopPropagation()"
                />
              </mat-option>
              <mat-option *ngFor="let patient of patients" [value]="patient.patient_id">
                {{ patient.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Reason -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Reason</mat-label>
            <mat-select formControlName="reason_id">
              <mat-option *ngFor="let r of reason" [value]="r.reason_id">
                {{ r.referral_reason_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <mat-dialog-actions align="end" class="mt-4">
      <button
        mat-button
        mat-dialog-close
        class="!text-red-600 hover:!text-red-700 font-semibold"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        *ngIf="!id"
        [disabled]="referralsForm.invalid"
        (click)="saveReferrals()"
      >
        Save Data
      </button>
      <button
        mat-flat-button
        color="accent"
        *ngIf="id"
        [disabled]="referralsForm.invalid"
        (click)="updateReferrals()"
      >
        Update
      </button>
    </mat-dialog-actions>
  </div>
</div>
