<div>
  <div class="w-full">
    <div class="relative h-full rounded-lg  group  p-6">
      <div class="font-semibold ">CREATE NEW DIAGNOSES</div>

      <form [formGroup]="diagnosisForm">
        <mat-form-field class="w-full mt-6">
          <mat-label>Diagnoses Name</mat-label>
          <input matInput placeholder="Ex. Diagnoses Name" formControlName="diagnosis_name" type="text">
          <mat-error class="error-message" *ngIf="diagnosisForm.controls['diagnosis_name'].touched && diagnosisForm.controls['diagnosis_name'].invalid">
            <span *ngIf="diagnosisForm.controls['diagnosis_name'].errors?.['required']">This field is mandatory</span>
            <span *ngIf="diagnosisForm.controls['diagnosis_name'].errors?.['pattern']">This field is invalid (must be contain alpharbetical only)</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mt-6">
          <mat-label>Diagnoses Code</mat-label>
          <input matInput placeholder="Ex. Diagnoses Code" formControlName="diagnosis_code" type="text">
          <mat-error class="error-message" *ngIf="diagnosisForm.controls['diagnosis_code'].touched && diagnosisForm.controls['diagnosis_code'].invalid">
            <span *ngIf="diagnosisForm.controls['diagnosis_code'].errors?.['required']">This field is mandatory</span>
            <span *ngIf="diagnosisForm.controls['diagnosis_code'].errors?.['pattern']">This field is invalid (must be contain alpharbetical only)</span>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button cdkFocusInitial [disabled]="diagnosisForm.invalid || submitting" (click)="saveDiagnosis()">{{ submitting ? 'Saving...' : 'Save Diagnosis' }}</button>
  </mat-dialog-actions>
</div>




