<div class="flex flex-wrap">
  <div class="flex w-full flex-col md:w-1/2">
    <div class="lg:w-[30rem] mx-auto my-auto flex flex-col justify-center pt-8 md:justify-start md:px-6 md:pt-0">
      <h1 class="text-left text-2xl font-bold text-center"> REFERALL INFORMATION SYSTEM</h1>
      <p class="mt-2 text-left text-neutral-500 text-sm text-center">Change Password</p>
      <emr-h-divider class="mt-8">RIS</emr-h-divider>
      <form class="flex flex-col pt-3 md:pt-8" [formGroup]="credentialForm" (ngSubmit)="submit()">
        <mat-form-field class="mt-2">
          <mat-label>Old Password</mat-label>
          <input [type]="newPasswordVisible ? 'text' : 'password'" matInput formControlName="old_password" autocomplete="current-password">
             <button type="button" mat-icon-button matSuffix class="mr-1" (click)="togglePasswordVisibility('old')" matTooltip="View Password">
              <mat-icon class="font-icon">visibility</mat-icon>
             </button>
             <mat-error *ngIf="credentialForm.controls.old_password.touched && credentialForm.controls.old_password.invalid">
              <span *ngIf="credentialForm.controls.old_password.errors.required">This field is mandatory</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mt-2">
          <mat-label>New Password</mat-label>
          <input [type]="passwordVisible ? 'text' : 'password'" matInput formControlName="new_password" autocomplete="new-password">
             <button type="button" mat-icon-button matSuffix class="mr-1" (click)="togglePasswordVisibility('new')" matTooltip="View Password">
              <mat-icon class="font-icon">visibility</mat-icon>
             </button>
             <mat-error *ngIf="credentialForm.controls.new_password.touched && credentialForm.controls.new_password.invalid">
              <span *ngIf="credentialForm.controls.new_password.errors.required">This field is mandatory</span>
              <span *ngIf="credentialForm.controls.new_password.errors.minlength">Use at least 8 characters</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="mt-2">
          <mat-label>Confirm New Password</mat-label>
          <input [type]="passwordConfirmVisible ? 'text' : 'password'" matInput formControlName="password_confirmation" autocomplete="new-password">
             <button type="button" mat-icon-button matSuffix class="mr-1" (click)="togglePasswordVisibility('confirm')" matTooltip="View Password">
              <mat-icon class="font-icon">visibility</mat-icon>
             </button>
             <mat-error *ngIf="credentialForm.controls.password_confirmation.touched && (credentialForm.controls.password_confirmation.invalid || credentialForm.hasError('passwordsMismatch'))">
              <span *ngIf="credentialForm.controls.password_confirmation.hasError('required')">This field is mandatory</span>
              <span *ngIf="credentialForm.hasError('passwordsMismatch')">Confirm password must match the new password</span>
            </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="!(credentialForm.valid && credentialForm.dirty) || submitting" type="submit" class="!h-12 mt-5">{{ submitting ? 'Updating…' : 'Submit' }}</button>
      </form>
      <emr-h-divider class="mt-8">© 2024 ICT (Ministry of Health)</emr-h-divider>
    </div>
  </div>
  <div class="pointer-events-none relative hidden h-screen select-none bg-black md:block md:w-1/2">
    <div class="absolute bottom-0 z-10 px-16 py-12 text-white opacity-100">
      <!-- <p class="mb-8 text-3xl font-bold leading-10">
        Coding the Future: Transforming Ideas into Reality. Precision in every line,
        Innovation in every function. Your Vision, Our Code - Building Tomorrow, Today!
      </p> -->
      <p class="">All right reserved,</p>
      <p class="mb-7 text-sm opacity-70">ICT Department</p>
    </div>
    <img class="-z-1 absolute top-0 h-full w-full  opacity-60"
    src="../../../assets/img/domore.jpg" />
  </div>
</div>
