
<div>
  <div class="w-full">
    <div class="relative h-full rounded-lg  group  p-6">
      <div *ngIf="!sourceData" class="font-semibold ">ADD NEW SOURCES</div>
      <div *ngIf="sourceData" class="font-semibold ">ADD SOURCES</div>
      <form [formGroup]="sourceForm">
        <mat-form-field class="w-full mt-6">
          <mat-label>Source Name: </mat-label>
          <input matInput placeholder="Ex. source" formControlName="source_name" type="text">
          <mat-error class="error-message" *ngIf="sourceForm.controls['source_name'].touched && sourceForm.controls['source_name'].invalid">
            <span *ngIf="sourceForm.controls['source_name'].errors?.['required']">This field is mandatory</span>
          </mat-error>
        </mat-form-field>


      </form>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="!sourceData" mat-flat-button cdkFocusInitial [disabled]="sourceForm.invalid || submitting" (click)="savesource()">{{ submitting ? 'Saving...' : 'Save Source' }}</button>
    <button *ngIf="sourceData" mat-flat-button cdkFocusInitial [disabled]="sourceForm.invalid || submitting" (click)="updatesource()">{{ submitting ? 'Saving...' : 'Update Source' }}</button>
  </mat-dialog-actions>
</div>

