<div
  id="print-section"
  *ngIf="referral"
  class="p-10 bg-white rounded-lg text-gray-900 print:ml-40 print:w-[70%]"
>

  <!-- ========================================================= -->
  <!-- ENGLISH VERSION - REFTYPE2 / ABROAD -->
  <!-- ========================================================= -->

  <ng-container
    *ngIf="
      referral?.hospital?.referral_type?.referral_type_code === 'REFTYPE2';
      else swahiliLetter
    "
  >

    <!-- ================= ENGLISH HEADER ================= -->

    <div class="flex justify-center mb-4">
      <img
        src="../../../../assets/img/smz.png"
        alt="Government of Zanzibar"
        class="w-auto h-24"
      />
    </div>

    <div class="text-center space-y-1 mb-6">

      <p class="text-lg font-semibold">
        REVOLUTIONARY GOVERNMENT OF ZANZIBAR
      </p>

      <p class="text-lg font-semibold">
        MINISTRY OF HEALTH
      </p>

      <div class="grid grid-cols-2 gap-4 text-sm text-left mt-4">

        <!-- LEFT -->
        <div>
          <p>6 Barabara ya Health Office</p>
          <p>S.L.P 236 MNAZIMMOJA</p>
          <p>POSTIKODI 70467 Mjini Magharibi Zanzibar</p>
        </div>

        <!-- RIGHT -->
        <div class="text-right">

          <p>
            Website:
            <a
              href="http://www.mohz.go.tz"
              target="_blank"
              class="text-blue-600 hover:underline"
            >
              www.mohz.go.tz
            </a>
          </p>

          <p>
            Email:
            <a
              [href]="'mailto:' + (email || 'info@mohz.go.tz')"
              class="text-blue-600 hover:underline"
            >
              {{ email || 'info@mohz.go.tz' }}
            </a>
          </p>

        </div>

      </div>

    </div>

    <hr style="border-top: 3px solid black;" />


    <!-- ================= REFERENCE + DATE ================= -->

    <div class="flex justify-between text-sm font-medium my-6">

      <p style="font-weight: bold;">
        Ref:
        {{ referral.referral_letters?.reference_no || 'AB.25/295/02' }}
      </p>

      <p class="font-semibold">
        Date:
        {{
          referral.referral_letters?.start_date
            ? (referral.referral_letters.start_date | date:'d MMMM, yyyy')
            : 'N/A'
        }}
      </p>

    </div>


    <!-- ================= RECIPIENT ================= -->

    <div class="mb-8 space-y-1">

      <p class="font-semibold uppercase">
        GENERAL MANAGER,
      </p>

      <p class="font-semibold uppercase">
        {{ referral.hospital?.hospital_name || 'N/A' }}
      </p>

      <p class="font-semibold">
        {{ referral.hospital?.hospital_address || 'N/A' }}
      </p>

      <p *ngIf="referral.hospital?.contact_number">
        TEL: {{ referral.hospital.contact_number }}
      </p>

      <p *ngIf="referral.hospital?.hospital_email">
        Email:
        {{ referral.hospital.hospital_email }}
      </p>

    </div>


    <!-- ================= ENGLISH LETTER BODY ================= -->

    <div class="space-y-4 text-sm leading-7">

      <p>
        The Ministry of Health, Zanzibar is pleased to transfer the following
        patient for further investigation and treatment in your hospital.
      </p>

      <p>
        He will arrive at
        <strong>
          {{ referral.referral_flights?.[0]?.arrival_airport || 'N/A' }}
        </strong>
        on
        <strong>
          {{
            referral.referral_flights?.[0]?.arrival_date
              ? (referral.referral_flights[0].arrival_date | date:'d MMMM, yyyy')
              : 'N/A'
          }}
        </strong>
        at
        <strong>
          {{ referral.referral_flights?.[0]?.arrival_time || 'N/A' }}
        </strong>
        by
        <strong>
          {{ referral.referral_flights?.[0]?.airline || 'N/A' }}
        </strong>
        flight no.
        <strong>
          {{ referral.referral_flights?.[0]?.flight_number || 'N/A' }}
        </strong>.
      </p>

      <!-- PATIENT -->

      <ol class="pl-6">

        <li class="font-semibold">
          {{ referral.patient?.name || 'N/A' }}
        </li>

      </ol>


      <p>
        The medical referral report is attachment for your reference.
      </p>


      <p>
        As agreed, his bill should be sent to us for payment.
      </p>


      <p class="mt-8">
        Yours faithfully
      </p>

    </div>


    <div class="h-20 flex items-center">
      <img
        src="assets/img/sign_dgs.png"
        alt="Signature"
        class="dg-signature"
      />
    </div>


    <!-- ================= ENGLISH SIGNATURE ================= -->

    <div class="mt-2">

      <p class="font-semibold uppercase">
        DKT. MARYAM SEIF HEMED,
      </p>

      <p class="font-semibold uppercase">
        DIRECTOR GENERAL,
      </p>

      <p class="font-semibold uppercase">
        MINISTRY OF HEALTH,
      </p>

      <p class="font-semibold uppercase">
        ZANZIBAR.
      </p>

    </div>


    <!-- ================= ENGLISH FOOTER ================= -->

    <hr
      class="mt-8"
      style="border-top: 3px solid black;"
    />

    <div class="text-xs text-gray-600 text-center">

      <p>
        <em>
          <strong>For direct communication:</strong>
        </em>
      </p>

      <p>
        Permanent Secretary, Director General
      </p>

      <p>
        Email:
        {{ dg || 'dg@mohz.go.tz' }}
      </p>

    </div>

  </ng-container>



  <!-- ========================================================= -->
  <!-- SWAHILI VERSION - DEFAULT -->
  <!-- ========================================================= -->

  <ng-template #swahiliLetter>

    <div class="flex justify-center mb-4">
      <img
        src="../../../../assets/img/smz.png"
        alt=""
        class="w-auto h-24"
      />
    </div>
  
    <div class="text-center space-y-1 mb-6">
      <p class="text-lg font-semibold">
        SERIKALI YA MAPINDUZI YA ZANZIBAR
      </p>
  
      <p class="text-lg font-semibold">
        WIZARA YA AFYA
      </p>
  
      <div class="grid grid-cols-2 gap-4 text-sm text-left">
        <div>
          <p>6 Barabara ya Health Office</p>
          <p>S.L.P 236 MNANZIMMOJA</p>
          <p>POSTIKODI 70467 Mjini Magharibi Zanzibar</p>
        </div>
  
        <div class="text-right">
          <p>
            Tovuti:
            <a
              href="http://www.mohz.go.tz"
              class="text-blue-600 hover:underline"
            >
              www.mohz.go.tz
            </a>
          </p>
  
          <p>
            Barua pepe:
            <a
              [href]="'mailto:' + (email || 'N/A')"
              class="text-blue-600 hover:underline"
            >
              {{ email || "N/A" }}
            </a>
          </p>
        </div>
      </div>
    </div>
  
    <hr style="border-top: 3px solid black;" />
  
    <div class="flex justify-between text-sm font-medium my-4">
      <p>KUMB: CDA.25/254/01</p>
  
      <p class="font-semibold uppercase">
        TAREHE:
        {{
          referral.referral_letters?.start_date
            ? (referral.referral_letters.start_date | date:'d MMMM, yyyy')
            : 'N/A'
        }}
      </p>
    </div>
  
    <div class="mb-6 space-y-1">
      <p class="font-semibold uppercase">
        MKURUGENZI MTENDAJI,
      </p>
  
      <p class="font-semibold uppercase">
        {{ referral.hospital?.hospital_name || 'N/A' }}
      </p>
  
      <p class="font-semibold uppercase">
        {{ referral.hospital?.hospital_address || 'N/A' }}
      </p>
    </div>
  
    <div class="mb-4 text-center">
      <p class="font-semibold uppercase">
        Kuh: KUMPATIA MATIBABU MGONJWA
        {{ referral.patient?.name || "N/A" }}
        <br>
        {{ formatAge(referral.patient?.age_details) }}
      </p>
    </div>
  
    <div class="space-y-3 text-sm leading-relaxed">
  
      <p>
        Tafadhali naomba uhusike na mada ya hapo juu.
      </p>
  
      <p>
        Wizara ya Afya Zanzibar, inamleta kwa ajili ya kuendelea na matibabu zaidi
        mtajwa hapo juu.
      </p>
  
      <p>
        Kwa barua hii, tunaomba mumpokee na kumpatia matibabu stahiki mgonjwa
        <b>{{ referral.patient?.name || "N/A" }}</b>
        kama tulivyokubaliana.
      </p>
  
      <p>
        Gharama za matibabu zitalipwa na Wizara ya Afya kwa mujibu wa Mkataba na
        <b>{{ referral.hospital?.hospital_name || "N/A" }}</b>.
      </p>
  
      <p>
        Wizara ya Afya inaomba taarifa fupi za maendeleo ya matibabu kwa mhusika
        ikiwemo Diagnosis, Tiba aliyopewa, tathmini, na sababu ya kurudi mara
        nyingine.
      </p>
  
      <p>
        Aidha Wizara ya Afya inaomba ripoti kamili iwasilishwe mwishoni mwa
        matibabu.
      </p>

      <p>
        Kumbukumbu zake za matibabu zimeambatanishwa kwa urahisi wa kurejea.
      </p>
  
      <p>
        Naomba kuwasiliana kwa hatua.
      </p>
      
      <p>
        <strong>Ahsante,</strong>
      </p>
  
    </div>

    <div class="h-20 flex items-center">
      <img
        src="assets/img/sign_dgs.png"
        alt="Signature"
        class="dg-signature"
      />
    </div>
  
    <div class="mt-2">
      <p class="font-semibold">
        DKT. MARYAM SEIF HEMED,
      </p>
  
      <p class="font-semibold">
        MKURUGENZI MKUU,
      </p>
  
      <p class="font-semibold">
        WIZARA YA AFYA,
      </p>
  
      <p class="font-semibold underline decoration-2">
        ZANZIBAR
      </p>
    </div>
  
    <hr style="border-top: 3px solid black;" />
  
    <div class="text-xs text-gray-600 text-center">
      <p>
        <em>
          <strong>Kwa mawasiliano ya moja kwa moja:</strong>
        </em>
      </p>
  
      <p>
        Katibu Mkuu {{ katibu }}, Mkurugenzi Mkuu barua pepe
      </p>
  
      <p>
        {{ dg || "dg@mohz.go.tz" }}
      </p>
    </div>
  
  </ng-template>



  <!-- ========================================================= -->
  <!-- PRINT BUTTON - COMMON -->
  <!-- ========================================================= -->

  <div class="flex justify-end mt-8 print:hidden">

    <button
      (click)="print()"
      mat-raised-button
      color="primary"
    >

      <mat-icon>
        print
      </mat-icon>

      Print

    </button>

  </div>

</div>
