
<div>
  <div class="w-full">
    <div class="relative h-full rounded-lg  group  p-6">
      <div *ngIf="!sourceData" class="font-semibold ">ADD NEW DOCUMENT TYPE</div>
      <div *ngIf="sourceData" class="font-semibold ">UPDATE DOCUMENT TYPE</div>
      <form [formGroup]="document_typeForm">
        <mat-form-field class="w-full mt-6">
          <mat-label>Source Name: </mat-label>
          <input matInput placeholder="Ex. source" formControlName="document_type_name" type="text">
          <mat-error class="error-message" *ngIf="document_typeForm.controls['document_type_name'].touched && document_typeForm.controls['document_type_name'].invalid">
            <span *ngIf="document_typeForm.controls['document_type_name'].errors?.['required']">This field is mandatory</span>
          </mat-error>
        </mat-form-field>


      </form>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="!sourceData" mat-flat-button cdkFocusInitial [disabled]="document_typeForm.invalid || submitting" (click)="savesource()">{{ submitting ? 'Saving...' : 'Save Document Type' }}</button>
    <button *ngIf="sourceData" mat-flat-button cdkFocusInitial [disabled]="document_typeForm.invalid || submitting" (click)="updatesource()">{{ submitting ? 'Saving...' : 'Update Document Type' }}</button>
  </mat-dialog-actions>
</div>


